body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    
}


.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#title .container-fluid .navbar {
    padding: 0 0 4.5rem;
}

#title .container-fluid .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-item .nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

.navbar {
    padding: 0 0 4.5rem;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 14,1%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
}

.feature-box{
    text-align: center;
}

#features .h3header{
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
}

#features .paragraph1 {
    color: #8f8f8f;
    text-align: center;
}

#features .icons {
    text-align: center;
    color: #ef8172;
    margin-bottom: 1rem;
}

#features .icons:hover{
    color: #ff4c68;
    transition: 0.5s;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#testimonials .testih2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#testimonials .testi-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

#press .press-logo{
    width: 15%;
    margin: 20px 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing .cardh2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#pricing{
    padding: 100px;
    text-align: center;
}

#pricing .pricing-column{
    padding: 3% 2%;
}

@media(max-width:  1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);

    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 15%;
    padding-right: 15%;
}


#cta .tittle-cta{
    font-family: "Montserrat";
    font-weight: 900;
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    background-color: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    padding: 7% 15%;
}

.img-footer{
    margin: 30px 20px;
}

.par-footer{
    color: #8f8f8f;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 22px;
}